#commentBoxDiv {
    border: solid black 2px;
    padding: 2em;
}

#AI_box  {
    border: solid black 2px;
    padding: 5em;
    margin: 2em;

}

p  {
    font-size: x-large;
}

#m1 {
    font-size: x-large;
}



#header1  {
    font-weight: bold;
    font-size:x-large;
    margin-bottom: 10em;
}

#formdiv {
    border: solid black 2px;
    background-color:rgb(181, 178, 178);
    margin-left: 2em;
    margin-right: 40%;
    padding-left:1em;
    padding-top: 0.1em;
    padding-bottom: 1.5em;
}

#indexH1 {
    margin-left: 1em;

}

#chat-container{
    border: solid black 2px;
    padding: 2em;
    margin-right: 40%;

}

#user-container{
    border: solid black 2px;
    padding: 2em;
    margin-right: 40%;

}

#user-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
  }
  .user-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  .start-chat-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
